/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootswatch/yeti/variables";
@import "bootswatch/cerulean/bootswatch";


body {
  background-image: url('http://www.wallpaper4me.com/images/wallpapers/city_lights_cherry_blossoms_w1.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background: rgba(255, 255, 255, .77);
  border: solid;
}

.haiku {
  height: 200px;
  background: rgba(255, 255, 255, .77);
  margin: 1px;
  border: solid cyan 2px;
  width: 200px;
  display: inline-block;
  border-radius: 8px;
}

div.container {
  padding: 0;

}

ul {
  padding: 0;
  list-style-type: none;
}
